* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

form {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form h3 {
  text-align: center;
  margin-bottom: 15px;
}

label {
  margin-bottom: 4px;
  font-weight: 500;
}

input,
select {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.error {
  color: red;
  margin-top: 5px;
  text-align: center;
}

.success {
color: green;
margin-top: 5px;
text-align: center;
}

.redirect-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.redirect-text a {
  color: #007bff;
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}
